# Patterns of intentionally untracked files that Git should ignore

# Python compiled files
*.pyc
__pycache__/

# Crossbar.io node files
.crossbar/key.priv
.crossbar/key.pub
.crossbar/node.pid

# Virtual Python Environment builder
.virtualenv/

# JavaScript tools and libraries
vorlesung_enders_client/node_modules/
vorlesung_enders_client/jspm_packages/

# Deployment files
personal_data

# Private development data
private/
