<p>{{ ctrl.Metadata.lecturer }} · {{ ctrl.Metadata.eventName }} · {{ ctrl.Metadata.season }}</p>

<h1>Foliensteuerung</h1>

<p>
  Aktuell auf dem Projektor: {{ ctrl.projectorContent.allMarks }} {{ ctrl.projectorContent.title }}
  <span ng-show="ctrl.projectorContent.type === 'topic' && ctrl.projectorContent.highlight != null">
    (Unterpunkt hervorgehoben)
  </span>
  <span ng-show="ctrl.projectorContent.type === 'topic' && ctrl.projectorContent.highlight == null">
    (Überblick)
  </span>
</p>


<h2>Gliederung</h2>

<p>
  Aktueller Gliederungspunkt: {{ ctrl.currentTopic.allMarks }} {{ ctrl.currentTopic.title }}
  <span ng-show="ctrl.currentTopic.highlight != null">
    (Unterpunkt hervorgehoben)
  </span>
  <span ng-show="ctrl.currentTopic.highlight == null">
    (Überblick)
  </span>
</p>

<button ng-click="ctrl.topicBack(50)">– 50</button>
<button ng-click="ctrl.topicBack(10)">– 10</button>
<button ng-click="ctrl.topicBack(1)">– 1</button>

&harr;

<button ng-click="ctrl.topicForward(1)">+ 1</button>
<button ng-click="ctrl.topicForward(10)">+ 10</button>
<button ng-click="ctrl.topicForward(50)">+ 50</button>


<h2>Zusatzfolien</h2>

<p>
  <button ng-click="ctrl.toCurrentTopic()" ng-disabled="ctrl.currentTopic == ctrl.projectorContent">&curarr;</button>
  Zurück zur Gliederung
</p>

<button class="slide-button" ng-repeat="slide in ctrl.slides" ng-click="ctrl.activateSlideButton(slide)">
  {{ slide.button_text }}
</button>

<h2>Gliederung im Überblick</h2>

<p ng-repeat="topic in ctrl.topics">
  <button ng-click="ctrl.toTopic(topic)">&curarr;</button>
  {{ topic.allMarks }} {{ topic.title }}
</p>


<h2>Sonstiges</h2>

<button ng-click="ctrl.switchToProjector()">
  Zum Projektor
</button>

<a href="/app/admin/"><button>Zur Administration</button></a>
