body {
  font-family: sans;
}

.primary-control {
  font-size: 150%;
}

.slide-button {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.topic-tree {
  list-style: none;
}

.topic-tree li {
  line-height: 2em;;
}

.projector-header {
  text-align: center;
}

.projector-content {
  margin: 2em;
  min-height: 500px;
}

.highlight {
  font-weight: bold;
}

.slide-heading {
  text-align: center;
}
