body {
  font-family: sans;
}

.slide-button {
  margin-right: 0.5em;
}

.projector-header {
  text-align: center;
}

.projector-content {
  font-size: 150%;
  margin: 2em;
  min-height: 500px;
}

.highlight {
  font-weight: bold;
}
